entrypoint = "index.ts"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]
run = "tsx index.ts"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["tsx index.ts"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[workflows]

[[workflows.workflow]]
name = "main"
mode = "sequential"
author = 36675008

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "tsx index.ts"

[[ports]]
localPort = 3000
externalPort = 80
